<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <img src="/static/images/JHS_header.jpg" alt="Jordan High School Class of 1975" aria-label="Jordan High School Class of 1975 Header Image">
    </header>
    <nav>
        <a href="/" class="{{if eq .ActivePage "index.html"}}active{{end}}">Home</a>
        <a href="/reunion" class="{{if eq .ActivePage "reunion.html"}}active{{end}}">50th Class Reunion</a>
        <a href="/passed_away" class="{{if eq .ActivePage "passed_away.html"}}active{{end}}">Passed Away</a>
        <a href="/contact" class="{{if eq .ActivePage "contact.html"}}active{{end}}">Contact Us</a>
    </nav>
    <div class="page-content">
        {{ block "content" . }}{{ end }}
    </div>
</body>
</html>
